button {
  background-color: rgb(145, 82, 92);

  width: 45%;
  height: 50px;
  padding: 6px 10px;
  margin: 0px 5px;

  border-radius: 100px;
  border: none;

  box-shadow: 1px 2px 2px 0.5px rgba(44, 44, 44, 0.795);

  color: white;
  font-weight: bold;
}