@import './variables.scss';

.container {
  height: 100px;
  width: 100%;
  background-color: $secondary_color;

  display: flex;
  align-items: center;
  justify-content: center;

  .link {
    margin: 0 20px;
    text-decoration: none;
    color: $primary-color;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 500;
  }
}
