@import './variables.scss';

.container {
  width: 100%;
  height: calc(100vh - 100px);

  display: flex;
  flex-direction: row;

  @mixin center() {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @mixin myContainer($color, $path) {
    width: 50%;
    height: 100%;
    background-color: $color;

    @include center();
    background-image: url($path);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .faunaContainer {
    @include myContainer(red, '../media/fauna.jpg');
  }
  .floraContainer {
    @include myContainer(blue, '../media/flora.jpg');
  }
  .text {
    height: 100px;
    width: 300px;
    background-color: $primary-color;

    @include center();
    border-radius: 5px;

    a {
      margin: 0 20px;
      text-decoration: none;
      color: $text;
      letter-spacing: 1px;
      font-size: 20px;
      font-weight: 500;
    }
  }
}
