.counter-wrapper {
  min-height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
}

h1 {
  font-size: 100px;
}

.container {
  width: 80%; // parent
  height: 80vh; // content

  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding: 0.5em;
  box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.1);
  background-color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
